.table-container {
    margin-left: 25%;
    width: 50%;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table th,
  .responsive-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  @media screen and (max-width: 600px) {
    .responsive-table {
      overflow-x: auto;
      display: block;
    }
  
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
      display: block;
    }
  
    .responsive-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .responsive-table tr {
      border: 1px solid #dddddd;
    }
  
    .responsive-table td {
      border: none;
      border-bottom: 1px solid #dddddd;
      position: relative;
      padding-left: 50%;
    }
  
    .responsive-table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-label);
    }
  }
  